@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /*
        A core aspect of our responsive design is to scale fonts according to device sizes. This is
        a bit odd for the typical Tailwind setup, so we're using media queries with various @apply
        statements to leverage our Tailwind styles.
    */

    h1 {
        @apply text-22;
        @apply font-sans;
    }

    h1.projects {
        @apply text-32;
        @apply font-cta;
        @apply font-medium;
    }

    h2 {
        @apply text-20;
        @apply font-sans;
        @apply font-medium;
    }

    h2.projects {
        @apply text-22;
        @apply font-sans;
        @apply font-semibold;
    }

    html {
        @apply text-16;
        @apply font-sans;
    }

    .body-1 {
        @apply text-20;
    }

    .body-2 {
        @apply text-18;
    }

    .cta {
        @apply font-cta;
        @apply font-medium;
        @apply text-28;
    }

    /* Applied at width 'sm' and above (see tailwind.config.js) */
    @media (min-width: 544px) {
        h1 {
            @apply text-22;
            @apply font-semibold;
        }

        .cta {
            @apply text-36;
        }
    }

    /* Applied at width 'md' and above (see tailwind.config.js) */
    @media (min-width: 768px) {
        h1 {
            @apply text-24;
        }

        h1.projects {
            @apply text-36;
        }

        h2 {
            @apply text-20;
        }

        h2.projects {
            @apply text-24;
        }

        .body-1 {
            @apply text-22;
        }

        .body-2 {
            @apply text-20;
        }

        .body-3 {
            @apply text-18;
        }

        .cta {
            @apply text-48;
        }
    }

    /*
        Custom scrollbar with Tailwind: https://scottspence.com/posts/change-scrollbar-color-tailwind-css
    */

    :root {
        --scrollbar-track: transparent;
        --scrollbar-thumb-light: #779278;
        --scrollbar-thumb-dark: #1d839a;
        --scrollbar-width: 8px;
    }

    /* Firefox */
    .custom-scrollbar {
        scrollbar-width: var(--scrollbar-width);
        scrollbar-color: var(--scrollbar-thumb-light) var(--scrollbar-track);
    }

    .dark .custom-scrollbar {
        scrollbar-color: var(--scrollbar-thumb-dark) var(--scrollbar-track);
    }

    /* Chrome, Edge, and Safari */
    .custom-scrollbar::-webkit-scrollbar {
        /* width determines the horizontal size for vertical scrollbars (as you would expect) */
        width: var(--scrollbar-width);
        /* height determines the vertical size for horizontal scrollbars (maybe a surprise) */
        height: var(--scrollbar-width);
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: var(--scrollbar-track);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-light);
        border-radius: var(--scrollbar-width);
    }

    .dark .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-dark);
    }
}
