---
import MainLayout from '../layouts/MainLayout.astro';
import MailLink from '../components/MailLink.astro';
---

<MainLayout title="Contact | Woodshed">
    <h1 class="font-cta text-36">Contact Us</h1>
    <div
        class="border-b-[1.5px] border-primary-light-shade-500 dark:border-primary-dark-900 w-12 pt-4"
    >
    </div>
    <p class="pt-12">
        Interested in working with us? We'd love to start a conversation.
    </p>
    <p class="pt-4">
        Reach out at<MailLink email="hello@woodshed.tech" />to learn how we can
        support your goals.
    </p>
</MainLayout>
