---
import MainLayout from '../layouts/MainLayout.astro';
import NumberedParagraphs from '../components/NumberedParagraphs.astro';

const paragraphs = [
    {
        heading: 'Persona',
        body: `An effective product begins with discovering who your
            audience is and what makes them tick. We’ll help you
            identify the user profiles that will drive your success,
            then use these identities to design experiences that deliver
            the highest possible value.`,
    },
];
---

<MainLayout title="Woodshed Technology LLC">
    <h1>Hello. We are Woodshed.</h1>
    <div class="flex flex-col gap-10 py-5">
        <p class="text-22">
            We build intuitive online experiences that connect you and your
            audience in a seamless, engaging conversation. Our knowledge and
            experience can take your project from an abstract idea to a
            full-fledged product.
        </p>
        <p class="text-22">
            We are a web design and development agency in the San Francisco Bay
            Area.
        </p>
        <div
            class="border-b-[1.5px] w-80 border-primary-light-shade-500 dark:border-primary-dark-900"
        >
        </div>
        <p class="text-20">
            While developing your product, we follow an iterative process that
            leads you through the stages of design and development in a
            structured, efficient workflow.
        </p>
        <div class="pl-12">
            <NumberedParagraphs paragraphs={paragraphs} />
        </div>
    </div>
</MainLayout>
