---
import ThemeSwitcher from '../components/ThemeSwitcher.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Woodshed Technology LLC">
    <body>
        <div class="grid place-items-center h-screen content-center">
            <ThemeSwitcher />
            <p class="dark:bg-black dark:text-primary-10 p-4">Dark mode test</p>
        </div>
    </body>
</MainLayout>
