---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Projects | Woodshed Technology LLC">
    <h1 class="font-cta text-36">Projects</h1>
    <div
        class="border-b-[1.5px] border-primary-light-shade-500 dark:border-primary-dark-900 w-12 pt-4"
    >
    </div>
</MainLayout>
