---
/**
 * A listing of our services.
 */
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Services | Woodshed">
    <section>
        <h1 class="detail-page">Services</h1>
        <p class="body-1">
            We engage you in a process of discovery in order to develop an understanding of your
            goals and your audience. Once we get a sense of who you are and how we can help, we
            deliver tools that allow you to focus on the things that matter.
        </p>
    </section>
    <section>
        <h2>Disciplines</h2>
        <p class="body-2">
            Here are some of the skills we excel in:
        </p>
        <ul class="list-disc text-18 ml-10 grid gap-2 pb-6">
            <li>
                <span class="font-semibold">Branding</span>: an organization
                is only as strong as its brand. As designers, we bring a
                focus on persona-driven decisions to every brand we create.
            </li>
            <li>
                <span class="font-semibold">UI/UX design</span>: with over
                20 years of experience in design, we have a deep
                understanding of visual language. This allows us to quickly
                see the big picture and make decisions that drive
                projects forward.
            </li>
            <li>
                <span class="font-semibold">Software development</span>: in
                the current age of technology, software is the most powerful
                tool we have to scale up human effort. We have been building
                software for over seven years, using modern practices and
                tooling, from simple static websites to complex, dynamic web applications.
            </li>
            <li>
                <span class="font-semibold">Process improvements</span>:
                with deep experience in nonprofit accounting, we
                understand the importance of consistent, automated data
                entry. We have built custom tools that help to improve accuracy and
                eliminate repetetive tasks.
            </li>
        </ul>
    </section>
    <section>
        <h2>Case studies</h2>
        <p class="body-2">
            As a small sample, here are some of the services we have provided to
            our clients. We have:
            <ul class="list-disc text-18 ml-10 grid gap-2 pb-6">
                <li>
                    Designed a brand book for a major fashion company that
                    synthesized its aesthetic into a concrete guide, allowing it
                    to align contractors and internal staff with a consistent
                    visual identity
                </li>
                <li>
                    Set up and documented Google Workspace for a nonprofit
                    parents’ club at an elementary school. This provides
                    professional GMail at the same domain as the website, as
                    well as centrally managed access to Google Calendar / Drive
                    / Docs / Sheets / Slides etc.
                </li>
                <li>
                    Designed a re-brand for a nonprofit preschool that aligns
                    with its mission and values while bringing its look and feel
                    into the modern era
                </li>
                <li>
                    Built a fully custom website for a nonprofit that allows its
                    admins to update the site without writing code, while
                    keeping hosting costs minimal (below $3 per month)
                </li>
                <li>
                    Built an add-on for accounting software (Xero, QuickBooks
                    Online) that allows nonprofits to track their grant funding
                    in an efficient workflow without complex spreadsheets
                </li>
                <li>
                    Built a web application that help music composers and
                    publishers understand their performance royalties, i.e.
                    which tracks make the most money on which channels during
                    what times
                </li>
            </ul>
        </p>
    </section>
    <section>
        <h2>Tailored solutions</h2>
        <p class="body-2">
            Our approach will be tailored to fit your specific needs. We will
            work with you to develop a digital platform that fits you, whether
            that means building custom solutions or integrating existing ones.
        </p>
    </section>
</MainLayout>
