<a
    class="cursor-pointer"
    href="https://calendly.com/alex-nitta/30min-intro"
    target="_blank"
    rel="noreferrer"
>
    <button
        class="bg-primary-light-shade-500 dark:bg-gray-dark-shade-400 text-gray-light-shade-800 dark:text-primary-dark-200 button-shadow rounded-lg px-4 py-2.5 active:pt-[9px] active:pb-[11px] tracking-wide font-semibold w-fit"
        >Book a meeting</button
    >
</a>

<style>
    .button-shadow:not(:active) {
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.15));
    }

    .button-shadow:active {
        box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.15),
            inset 2px 0px 6px rgba(0, 0, 0, 0.15);
    }
</style>
