---
/**
 * A button that toggles the theme between Dark and Light modes
 */
---

<div class="flex flex-col text-gray-light-shade-500 dark:text-primary-dark-200">
    <label
        class=" pb-3 text-22"
        for="dark-mode-switch">Dark Mode</label
    >
    <div class="flex">
        <button
            class="relative rounded-full shadow-inner border-2 border-gray-light-100 dark:border-gray-dark-200 focus:shadow-xs h-[20px] w-[40px]"
            id="dark-mode-switch"
            role="switch"
            type="button"
            aria-labelledby="dark-mode-on-off"
        >
            <span
                id="dark-mode-switch-thumb"
                class="block relative bg-gray-light-shade-500 dark:bg-primary-dark-400 rounded-full shadow translate-x-0 dark:translate-x-5 h-[20px] w-[20px]"
            >
            </span>
        </button>
        <p
            class="pl-3"
            id="dark-mode-on-off"
        >
            off
        </p>
    </div>
</div>

<script>
    const darkModeSwitch = document.getElementById('dark-mode-switch');
    const onOff = document.getElementById('dark-mode-on-off');

    if (onOff && darkModeSwitch) {
        if (document.documentElement.classList.contains('dark')) {
            onOff.innerHTML = 'on';
            darkModeSwitch.ariaChecked = 'true';
        } else {
            onOff.innerHTML = 'off';
            darkModeSwitch.ariaChecked = 'false';
        }
    }

    if (onOff && darkModeSwitch) {
        darkModeSwitch.addEventListener('click', () => {
            const currentTheme = document.documentElement.classList.contains(
                'dark',
            )
                ? 'dark'
                : 'light';

            if (currentTheme === 'dark') {
                localStorage.setItem('theme', 'light');
                document.documentElement.classList.remove('dark');
                onOff.innerHTML = 'off';
                darkModeSwitch.ariaChecked = 'false';
            } else {
                localStorage.setItem('theme', 'dark');
                document.documentElement.classList.add('dark');
                onOff.innerHTML = 'on';
                darkModeSwitch.ariaChecked = 'true';
            }
        });
    }
</script>

<style>
    #dark-mode-switch {
        top: 3px;
    }

    #dark-mode-switch-thumb {
        transition: transform 500ms;
        will-change: transform;
        top: -2px;
        left: -2px;
    }
</style>
