---
import Highlight from './Highlight.astro';
import { bodyWidth } from '../constants';
---

<div class="bg-black py-24 flex justify-center">
    <div class={bodyWidth}>
        <p class="cta leading-9 pb-8 text-gray-light-300">Come say hello!</p>
        <Highlight>
            <a
                class="text-gray-light-400 body-1"
                href="mailto:hello@woodshed.tech"
                rel="noreferrer">hello@woodshed.tech</a
            >
        </Highlight>
        <p id="copyright" class="text-gray-light-300 pt-8 text-15">
            © Woodshed Technology LLC
        </p>
    </div>
</div>

<script>
    const copyright = document.getElementById('copyright');
    if (copyright) {
        copyright.innerHTML = `©${new Date().getFullYear()} Woodshed Technology LLC`;
    }
</script>
