---
import Highlight from './Highlight.astro';
---

<div class="bg-black py-24 flex justify-center">
    <div class="w-[840px]">
        <p
            class="font-cta text-48 leading-9 pb-8 text-gray-light-300 font-medium"
        >
            Come say Hello!
        </p>
        <Highlight>
            <a
                class="text-gray-light-400 text-22"
                href="mailto:hello@woodshed.tech"
                rel="noreferrer">hello@woodshed.tech</a
            >
        </Highlight>
        <p id="copyright" class="text-gray-light-300 pt-8">
            © Woodshed Technology LLC
        </p>
    </div>
</div>

<script>
    const copyright = document.getElementById('copyright');
    if (copyright) {
        copyright.innerHTML = `©${new Date().getFullYear()} Woodshed Technology LLC`;
    }
</script>
