<div class="relative">
    <div class="hamburger">
        <div class="icon bg-gray-light-shade-900"></div>
    </div>
</div>

<style>
    .hamburger {
        position: absolute;
        width: 60px;
        height: 60px;
        top: -6px;
        left: 0px;
        transition-duration: 0.5s;
        transform: scale(0.4);
    }

    .hamburger .icon {
        transition-duration: 0.5s;
        position: absolute;
        height: 0px;
        width: 60px;
        top: 30px;
    }

    .hamburger:before {
        transition-duration: 0.5s;
        position: absolute;
        width: 60px;
        height: 8px;
        border-radius: 4px;
        @apply bg-gray-light-shade-900;
        content: '';
        top: -20px;
    }

    .hamburger:after {
        transition-duration: 0.5s;
        position: absolute;
        width: 60px;
        height: 8px;
        border-radius: 4px;
        @apply bg-gray-light-shade-900;
        content: '';
        top: 20px;
    }

    .hamburger.open .icon {
        transition: 0.5s;
    }

    .hamburger.open:before {
        transform: rotateZ(45deg) scaleX(1.33) translate(12px, 12px);
    }

    .hamburger.open:after {
        transform: rotateZ(-45deg) scaleX(1.33) translate(12px, -12px);
    }

    .hamburger:hover {
        cursor: pointer;
    }
</style>

<script>
    const hamburgers = document.querySelectorAll('.hamburger');

    hamburgers.forEach(hamburger => {
        hamburger.addEventListener('click', () => {
            hamburger.classList.toggle('open');
        });
    });
</script>
