---
/**
 * A <span> that applies some special style to highlight its contents on hover via an animation. The
 * animation is not used if the user prefers reduced motion.
 */
---

<span class="highlight pb-2">
    <slot />
</span>
<style>
    .highlight {
        @apply bg-gradient-to-t;
        @apply from-primary-light-shade-700;
        @apply to-primary-light-shade-700;
        background-repeat: no-repeat;
        background-size: 100% 10%;
        background-position: 0 100%;
        transition: background-size 200ms ease;
        will-change: background-size;
    }

    html.dark .highlight {
        @apply from-primary-dark-900;
        @apply to-primary-dark-900;
    }

    @media (prefers-reduced-motion: no-preference) {
        .highlight:hover {
            background-size: 100% 130%;
            transition: background-size 200ms ease;
        }
    }
</style>
