---
/**
 * Renders an array of images in a horizontally scrolling container with a custom scrollbar.
 */

import { Image } from 'astro:assets';

interface ImageDetail {
    alt: string;
    caption: string;
    imageMetaData: ImageMetadata;
}

interface Props {
    imageDetails: ImageDetail[];
}

const { imageDetails } = Astro.props;
---

<div class="custom-scrollbar overflow-x-auto whitespace-nowrap pb-4 lg:pb-6">
    {
        imageDetails.map(({ alt, caption, imageMetaData }, index) => (
            <div class={`inline-block${index !== 0 ? ' pl-12' : ''}`}>
                <Image
                    class="flex-none w-[200px] sm:w-[284px] md:w-[340px]"
                    alt={alt}
                    src={imageMetaData}
                />
                <p class="text-center pt-3 sm:pt-4 md:pt-5 text-16">
                    {caption}
                </p>
            </div>
        ))
    }
</div>
