<span class="nav-highlight pb-2">
    <slot />
</span>
<style>
    .nav-highlight {
        @apply bg-gradient-to-t;
        @apply from-gray-light-400;
        background-repeat: no-repeat;
        background-size: 100% 10%;
        background-position: 0 100%;
        transition: background-size 200ms ease;
        will-change: background-size;
    }

    html.dark .nav-highlight {
        @apply from-primary-dark-900;
    }

    @media (prefers-reduced-motion: no-preference) {
        .nav-highlight:hover {
            background-size: 100% 130%;
            transition: background-size 200ms ease;
        }
    }
</style>
