---
/**
 * A card layout that previews a project and acts as a link to that project's details in the
 * /projects page. Intended for use in the bottom section of main content with the main page.
 */

import { Image } from 'astro:assets';

interface Props {
    alt: string;
    href: string;
    imageMetaData: ImageMetadata;
    projectName: string;
}

const { alt, href, projectName, imageMetaData } = Astro.props;
---

<a href={href} class="flex flex-col items-center justify-center">
    <Image
        alt={alt}
        src={imageMetaData}
        class="max-w-[232px] sm:max-w-[400px] lg:w-[312px] lg:h-[428px]"
    />
    <p class="pt-12 text-20 font-medium">{projectName}</p>
</a>
