---
/**
 * A layout that displays an image, title and description of a staff member.
 */

import { Image } from 'astro:assets';

interface Props {
    alt: string;
    imageMetaData: ImageMetadata;
    name: string;
    title: string;
}

const { alt, imageMetaData, name, title } = Astro.props;
---

<div class="py-10">
    <div class="flex flex-col items-center justify-center">
        <Image width={300} alt={alt} src={imageMetaData} />
        <h2 class="py-8 font-medium text-20">{name}</h2>
    </div>
    <h3 class="font-semibold text-24 py-8">{title}</h3>
    <div class="grid gap-4 body-1">
        <slot />
    </div>
</div>
