---
import '@fontsource/inter';
import '@fontsource/montserrat';
import '../styles/tailwind.css';
import '../styles/highlight.css';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <title>{title}</title>
    </head>
    <body>
        <slot />
        <Footer />
    </body>
</html>
<script is:inline>
    const theme = (() => {
        if (
            typeof localStorage !== 'undefined' &&
            localStorage.getItem('theme')
        ) {
            return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark';
        }
        return 'light';
    })();

    if (theme === 'light') {
        document.documentElement.classList.remove('dark');
    } else {
        document.documentElement.classList.add('dark');
    }
    window.localStorage.setItem('theme', theme);
</script>
