---
/**
 * Default layout for all pages.
 */

import '@fontsource/inter';
import '@fontsource/montserrat';
import '../styles/tailwind.css';
import NavHeader2 from '../components/NavHeader2.astro';
// import Footer from '../components/Footer.astro';
// import { bodyWidth } from '../constants';

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            content="Woodshed is a web development and design agency in the San Francisco Bay Area."
        />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <title>{title}</title>
        <meta property="og:title" content="Woodshed" />
        <meta
            property="og:description"
            content="Woodshed is a web development and design agency in the San Francisco Bay Area."
        />
        <meta
            property="og:image"
            content="https://raw.githubusercontent.com/Woodshed-Technology-LLC/woodshed-site/main/public/social_preview.png"
        />
        <meta
            property="og:image:alt"
            content="A logo representation of a woodshed"
        />
        <meta property="og:url" content="https://woodshed.tech" />
        <meta property="og:type" content="website" />
    </head>
    <body>
        <div
            style={{ 'grid-area': 'header' }}
            class="border-b-2 border-primary-light-shade-500 dark:border-primary-dark-900 bg-gray-light-300 dark:bg-gray-dark-900 pt-4 sm:pt-[68px] z-50"
        >
            <NavHeader2 />
        </div>
        <main
            class="py-[48px] sm:py-[58px] md:py-[86px]"
            style={{ 'grid-area': 'main' }}
        >
            <slot />
        </main>
    </body>
    <script is:inline>
        // Initialize the theme as either 'light' or 'dark'

        // Read the user's preferred theme from localStorage. If it has not been set there, read it
        // from the browser settings and then set it in localStorage.
        const theme = (() => {
            if (
                typeof localStorage !== 'undefined' &&
                localStorage.getItem('theme')
            ) {
                return localStorage.getItem('theme');
            }
            if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                return 'dark';
            }
            return 'light';
        })();

        if (theme === 'light') {
            document.documentElement.classList.remove('dark');
        } else {
            document.documentElement.classList.add('dark');
        }
        window.localStorage.setItem('theme', theme);
    </script>
</html>

<style>
    /* Sets up the tiled background */
    body {
        @apply bg-gray-light-300;
        background-image: url('/bg-dot-tile-light.png');
        background-repeat: repeat;
        background-position: top 22px left 22px;
    }
    .dark body {
        @apply bg-gray-dark-900;
        background-image: url('/bg-dot-tile-dark.png');
        background-repeat: repeat;
        background-position: top 22px left 20px;
    }

    /* Sets up responsive grid layout */

    body {
        display: grid;
        grid-template-areas:
            'header header header'
            '. main .'
            'footer footer footer';
        grid-template-columns: 60px auto 60px;
        grid-template-rows: 60px auto auto;
    }

    @media (min-width: 544px) {
        body {
            grid-template-columns: 70px auto 70px;
            grid-template-rows: 126px auto auto;
        }
    }

    @media (min-width: 768px) {
        body {
            grid-template-columns: 90px auto 90px;
        }
    }

    @media (min-width: 1024px) {
        body {
            grid-template-columns: auto 840px auto;
        }
    }
</style>
