---
import '@fontsource/inter';
import '@fontsource/montserrat';
import '../styles/tailwind.css';
import NavHeader from '../components/NavHeader.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <title>{title}</title>
    </head>
    <body class="flex flex-col min-h-screen">
        <div
            class="bg-gray-light-300 dark:bg-gray-dark-900 h-[94px] sm:h-[120px] border-b-2 border-primary-light-shade-500 dark:border-primary-dark-900 pt-6 sm:pt-12"
        >
            <NavHeader />
        </div>
        <div
            class="text-gray-light-shade-900 dark:text-gray-dark-200 flex justify-center flex-grow main-content"
        >
            <main
                class="max-w-[840px] px-[60px] sm:px-[70px] md:px-[90px] py-16"
            >
                <slot />
            </main>
        </div>
        <Footer />
    </body>
</html>
<script is:inline>
    const theme = (() => {
        if (
            typeof localStorage !== 'undefined' &&
            localStorage.getItem('theme')
        ) {
            return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark';
        }
        return 'light';
    })();

    if (theme === 'light') {
        document.documentElement.classList.remove('dark');
    } else {
        document.documentElement.classList.add('dark');
    }
    window.localStorage.setItem('theme', theme);
</script>
<style>
    .main-content {
        @apply bg-gray-light-300;
        background-image: url('/bg-dot-tile-light.png');
        background-repeat: repeat;
        background-position: top 22px left 22px;
    }
    .dark .main-content {
        @apply bg-gray-dark-900;
        background-image: url('/bg-dot-tile-dark.png');
        background-repeat: repeat;
        background-position: top 22px left 20px;
    }
</style>
